legend { 
    border: 1px solid black;
    padding: 5px; 
}

fieldset { 
    display: inline-block; 
    align-items: center;
    flex-direction: column;
    margin-top: 150px;
    margin-left: 400px; 
    margin-right: 400px;

    padding-right: 100px;
    padding-left: 100px;
    padding-bottom: 25px;
}

#firstName {
    font-family: Helvetica; 
}

#lastName { 
    font-family: Arial, Helvetica, sans-serif;
}
